.whiteContentBtn{
    width: 340px;
    height: 200px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 1px 0px 7px 0px rgba(0, 0, 0, 0.25);
    border: none;

    color: #FFF;
    font-family: OneShinhan;

}

