.myGroup-container{
    width: 250px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 1px 0px 7px 0px rgba(0, 0, 0, 0.25);
    padding: 10px;
}

.myGroup-container>h2{
    margin-block: 0;
    flex-shrink: 0;
    color: #000;
    font-size: 20px;
    font-style: normal;
}

.groupInfo{
    display: flex;
    align-items: end;
    justify-content:space-around;
}

.groupInfo>img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    flex-shrink: 0;
}

.groupInfoBtn{
    margin:10px;
}