.quizHistory{
    margin-top: 5vh;
    width: 80vw;
}
.quizHistoryHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.quizList{
    padding: 0;
}
.listHeader{
    display: flex;
    flex-direction: row;
    text-align: center;
    color: silver;
    padding-bottom: 10px;
    margin-bottom: -10px;
    border-bottom: 0.1px solid rgb(204, 203, 203);
}

.no{
    width: 10%;
}


.date{
    width: 10%;
}

.q{
    width: 65%;
}

.a{
    width: 5%;
}

.result{
    text-align: end;
    width: 10%;
}