.quizHistory{
    margin-top: 5vh;
    width: 70vw;
}
.quizHistoryHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.quizList{
    padding: 0;
}
.listHeader{
    display: flex;
    flex-direction: row;
    text-align: center;
    color: silver;
    padding-bottom: 10px;
    margin-bottom: -10px;
    border-bottom: 0.1px solid rgb(204, 203, 203);
}

.no{
    width: 10%;
}


.date{
    width: 10%;
}

.q{
    width: 65%;
}

.a{
    width: 5%;
}

.result{
    text-align: end;
    width: 10%;
}

select {
    background: transparent;
    border: 1px solid silver;
    border-radius: 20px;
    width: 20%;
    width: max-content;
    height: 50px;
    padding: 15px;
    text-align: center;
    -webkit-appearance: none;
    padding-right: 50px;
    background-image: url('../../../../src/assets/images/arrow.png');
    background-repeat: no-repeat;
    background-position: right 10px center; /* right 값을 조정하여 좀 더 왼쪽으로 이동 */
    background-size: 20px;
    background-color: transparent;
  }

  