.signUpPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formContainer {
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333;
}

.formGroup {
    margin-bottom: 20px;
}



/* 추가: 플레이스홀더 스타일 */
input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #ccc; /* 회색으로 레이블 색상 설정 */
}


button {
    background-color: #0071f2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0053aa;
}
