.titleForMain{
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 5vh;
}
.rankingSection {
    width: 55vw;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -10vh;
  }
  
.cardSection{
    width: 55vw;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap; 
 }
  
  /* PC 화면 */
  @media (min-width: 1024px) {
    .containerForMonthlyRanking,
    .containerForGroupRanking {
      width: 30vw;
      padding-left: 20px; /* Increase left padding to create more space between components */
      padding-right: 20px; /* Increase right padding to create more space between components */
      flex: 1; /* Distribute the available space evenly to make two components appear in a row */
    }
  }
  
  /* 태블릿 화면 */
  @media (max-width: 1023px) {
    .containerForMonthlyRanking,
    .containerForGroupRanking {
      width: 70vw;
    }
  }
  