.dailyQuiz {
  width: 70vw;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, rgba(0, 0, 255, 1) 0%, rgba(0, 128, 255, 1) 100%);
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4); /* 그림자 효과 추가 */
}

.quizTitle {
  width: 100%;
  height: 15%;
  color: white;
  font-size: 25px;
  margin: 1%;
  text-shadow: -2px -2px 5px rgba(0, 0, 0, 0.5); /* 텍스트에 그림자 효과 추가 */
}

.dailyQuizQnASet {
  background-color: white;
  width: 75%;
  height: 70%;
  border-radius: 30px;
  padding: 10px;
  margin: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4); /* 그림자 효과 추가 */
}

#question {
  font-size: 20px;
  margin: 5px;
}

#explanation {
  margin: 5px;
}

.oxbtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.answer {
  width: 70px;
  height: 70px;
  background-color: transparent;
  border: 1.5px solid #8a8888;
  border-radius: 0.6em;
  color: #8a8888;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  line-height: 3;
  margin: 0px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.answer:hover {
  background-color: #0047FF;
  color: white;
}

.answer.correct {
  background-color: #2ecc71;
  color: #ffffff;
}

.answer.incorrect {
  background-color: #e74c3c;
  color: #ffffff;
}

.answer:disabled {
  cursor: not-allowed;
}

.answerStatus {
  font-size: 1.5rem;
  margin: 10px;
  text-align: center;
}

/* 이미 푼 문제에 대한 스타일 */
.answer:hover .answered {
  pointer-events: none;
}

/* 이미 푼 문제에 대한 스타일 */
.answer.answered .oxbtn button {
  background-color: #0047FF;
  color: white;
  cursor: default;
}

/* 이미 선택된 버튼에 대한 스타일 */
.answered .oxbtn button.selected {
  background-color: #0047FF;
  color: white;
  cursor: default;
}

/* 이미 선택된 버튼에 대한 스타일 (선택되지 않은 상태) */
.answered .oxbtn button:not(.selected):hover {
  background-color: inherit;
  color: #8a8888;
  cursor: default;
}

/* 이미 선택된 버튼에 대한 스타일 (선택되지 않은 상태) */
.answered .oxbtn button:not(.selected) {
  transition: none;
}
