.mySadariggol{
    width: 400px;
    height: 260px;
    margin-Right: -60px;
    padding:10px;
    border-radius: 20px 0px 0px 20px;
    background: #ffffff;
    fill: #FFF;
    filter: drop-shadow(1px 0px 7px rgba(0, 0, 0, 0.25));
    border: none;
    color: #000000;
    font-family: OneShinhan;
    clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
}

