.ViewRivalScoreWrap{
    padding:10px;
}

.ribalSadariggol{
    width: 400px;
    height: 260px;
    margin-left: -60px;
    padding:10px;
    border-radius:  0px 20px 20px 0px;
    background: #ffffff;
    fill: #FFF;
    filter: drop-shadow(1px 0px 7px rgba(0, 0, 0, 0.25));
    color: #000000;
    font-family: OneShinhan;
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
    animation-duration: 0.5s ease;

    
}


.rivalScoreInfo {
    position: absolute;
    width:150px;
    height: 150px;
    right: 0px;
    top: 0;
    margin:20px;
    
  }

.ribalSadariggol>img {
    position: absolute;
    object-fit: contain;
    bottom: 0px;
    margin:10px 20px;
    width:180px;
    height: 180px;

}

.winClassRival{
    background-color: red;
    margin-left: 0px;
    width:450px;
    height: 292.5px;
    animation-duration: 0.5s ease;
    z-index: 1;
  }

  .winClassRival>img{

    width:80%;
    height: 80%;
    right: 0px;
  }

  .lossClassRival{

    margin-top: 100px;
    width: 300px;
    height: 195px;
    background-color: blue;
    animation-duration: 3s ease;
    
  }

  .lossClassRival>img{
    width:50%;
    height: 50%;
    left:0;

  }

  .defaultClassRival>img{
    left: 60px;

  }