.container {
    background: linear-gradient(
        125deg,
        #e2faff 0%,
        #b0d5ff 100%
      );       
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container:hover {
    transform: scale(1.01);
}

.header {
    text-align: left;
}

.title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.content {
    font-size: 1rem;
}

.image_box{
    width: 100%;
    display: flex;
    justify-content: right;
}

.short_box_image_box {
    width: 40%;
    aspect-ratio: 1;
}

.short_box_image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
