.container2 {
    background: linear-gradient(
    135deg,
    #b1eaf8 0%,
    #0c99f7 100%
);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: fit-content;
    transition: transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container2:hover {
    transform: scale(1.01);
}

.header2 {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
}

.title2 {
    font-weight: bold;
    font-size: 1.5rem;
}

.content2 {
    font-size: 1.2rem;
    width: 80%;
}

.image_box2{
    width: 30%;
    display: flex;
}

.short_box_image_box2 {
    width: 100%;
    aspect-ratio: 1;
}

.short_box_image2 {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
