.container {
    /*background: linear-gradient(
        135deg,
        #d300a5 0%,
        #5432ff 100%
      ); */   
    background:linear-gradient(
        135deg,
        #80c1ff 0%,
        #1f9aff 100%
    );
    color: rgb(31, 25, 16);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
}

.container:hover {
    transform: scale(1.01);
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 140%;
    font-weight: bold;
}

.footer {
    font-size: 120%;
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 90%; 
    
  }

  /* 
.footer {
    font-weight: bold;
    font-size: 120%;
    text-align: left;
    vertical-align: middle;
} */