.container {
    background: linear-gradient(
        125deg,
        #c5f4fe 0%,
        #8dc2ff 100%
      );    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container:hover {
    transform: scale(1.01);
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}

.footer {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: left;
}
