.container2 {
    background: linear-gradient(
        45deg,
        #d0f6ff 0%,
        #6bb0ff 100%
      );     
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.container2:hover {
    transform: scale(1.01);
}

.title2{
    padding-left: 20px;
    padding-top: 20px;
    text-align: left;
    font-size: 1rem;
    margin-bottom: 3px;
}

.header2 {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

.detail2 {
    width: 95%;
    justify-content: end;
    display: flex;
    flex-direction: row;
    text-align: right;
    font-weight: bold;
    padding-right: 20px;
}

.content2 {
    font-size: 1.2rem;
    padding-left: 30px;
    padding-right: 30px;
    flex-wrap: wrap;
    text-align: center;
}

.image_box2{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100px !important;
}

.short_box_image_box2 {
    width: 100%;
    aspect-ratio: 1;
}

.short_box_image2 {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.greenArrow2{
    color:red;
}

.redArrow2{
    color:blue;

}