.container {
  background: linear-gradient(
    45deg,
    #a3eaf7 0%,
    #3392fe 100%
);  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* 이 부분을 추가 */
    transition: transform 1s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    perspective: 1000px;
    height: max-content;
}

.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden; /* 뒷면을 감추기 */
    transition: transform 0.5s; /* transform 애니메이션 설정 */
    display: flex;
    flex-direction: column;
    justify-content: center; /* 가로 가운데 정렬을 추가합니다 */
    align-items: center; /* 세로 가운데 정렬을 추가합니다 */
    cursor: pointer; /* 마우스 포인터를 손가락 모양으로 설정 */
  }
  .underline {
    text-decoration: underline;
  }
  .back {
    transform: rotateY(180deg); /* 뒷면 회전 */
    font-size: 1.5rem;
  }
  
  .container.flipped .front {
    transform: rotateY(180deg); /* 뒤집힌 상태에서 앞면 회전 */
  }
  
  .container.flipped .back {
    transform: rotateY(0deg); /* 뒤집힌 상태에서 뒷면 회전 */
  }
.container:hover {
    transform: scale(1.01);
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
}

.content {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.1rem;
}

.button_group {
    display: flex;
    justify-content: center;
}

.button_o {
    margin-right: 15px;
    background: black;
    display: flex;
    font-weight: bold;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 5px;
}

.button_o:hover, .button_x:hover{
    opacity: 0.5;
    cursor: pointer;
}

.button_x {
    background: white;
    border: 1px solid #c9c9c9;
    display: flex;
    font-weight: bold;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: #c9c9c9;
    border-radius: 5px;
}

@media screen and (max-width: 1200px) {
  .container {
      width: 100%;
      min-width: 20px;
      aspect-ratio: 1;
  }
}

@media screen and (max-width: 868px) {
  .container{
  }
}

@media screen and (max-width: 650px) {
  .container{
      box-sizing: unset;
  }
}
